@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.select__control {
  padding: 0.5rem;
  border: 1px solid #D1D5DB; /* border-gray-300 */
  border-radius: 0.375rem; /* rounded-md */
  transition: border-color 0.2s;
}

.select__control:hover {
  border-color: #3B82F6; /* main-blue */
}

.select__control--is-focused {
  border-color: #3B82F6; /* main-blue */
  box-shadow: 0 0 0 1px #3B82F6;
}

.select__placeholder {
  color: #9CA3AF; /* text-gray-400 */
}

.select__input {
  color: #374151; /* text-gray-700 */
}

/* Кастомный скролл */
::-webkit-scrollbar {
  width: 8px; /* Тонкий скроллбар */
  background-color: transparent; /* Прозрачный фон для дорожки */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Светло-серый цвет дорожки */
  border-radius: 10px; /* Скругление дорожки */
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Серый цвет ползунка */
  border-radius: 10px; /* Скругленные углы ползунка */
  border: 2px solid #f0f0f0; /* Промежуток между ползунком и каналом */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa; /* Более темный серый цвет при наведении */
}

/* Убираем стрелочки сверху и снизу */
::-webkit-scrollbar-button {
  display: none; /* Полностью убираем кнопки со стрелками */
}

/* Для поддержки Firefox */
* {
  scrollbar-width: thin; /* Тонкий скролл */
  scrollbar-color: #cccccc #f0f0f0; /* Серый ползунок и светло-серая дорожка */
}