@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
  background-color: transparent; /* Transparent background for the track */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light gray track color */
  border-radius: 10px; /* Rounded track */
}

::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Gray scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #f0f0f0; /* Space between the thumb and the track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa; /* Darker gray color on hover */
}

/* Remove top and bottom arrows */
::-webkit-scrollbar-button {
  display: none; /* Completely hide buttons with arrows */
}

/* Firefox support */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #cccccc #f0f0f0; /* Gray thumb and light gray track */
}

.range-slider {
  --range-slider-thumb-background: #4BD4FF; 
  --range-slider-track-background: #e0e0e0; 
  --range-slider-progress-background: #4BD4FF;
  height: 8px;
}

.range-slider .range-slider__thumb {
  width: 24px;
  height: 24px;
  box-shadow: 0 0 6px rgba(81, 173, 246, 0.8);
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #4BD4FF;
}

.range-slider .range-slider__range {
  background-color: #4BD4FF;
}

.my-range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to right, #4BD4FF 0%, #e0e0e0 0%); 
}

.my-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border-radius: 4px;
}

.my-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background: #4BD4FF;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(81, 173, 246, 0.8);
  margin-top: -8px;
}

.my-range::-moz-range-thumb {
  width: 24px;
  height: 24px;
  background: #4BD4FF;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(81, 173, 246, 0.8);
}


